<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CGSSGuide.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DownloadImageOfCard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GetJsonData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ReadFileToPlist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>120F44891D0C2831006EB8B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>120F44921D0C2832006EB8B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>120F44EC1D0C2EE4006EB8B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>120F44F51D0C2EE4006EB8B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12117D151D0EDB8F00112DCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12117D1E1D0EDB8F00112DCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>125F567D1D348A8600B00C03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>127AF7071D01A3D9007EFBE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>127AF7141D01B2E9007EFBE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>127AF71D1D01B2E9007EFBE0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1282EE5E1D011A8F0024318C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1282EE751D011A8F0024318C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1282EE801D011A8F0024318C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A9F2C31D04052300E97A1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A9F2E41D04443F00E97A1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12A9F34F1D06E53400E97A1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12CE3E6E1D0C3AEB00E77957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>12CE3E7A1D0C3B5C00E77957</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
