<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cute</key>
	<array>
		<dict>
			<key>potential</key>
			<dict>
				<key>vocalLevel</key>
				<integer>10</integer>
				<key>danceLevel</key>
				<integer>5</integer>
				<key>visualLevel</key>
				<integer>10</integer>
			</dict>
			<key>id</key>
			<real>100448</real>
		</dict>
		<integer>100412</integer>
		<real>100256</real>
		<integer>100398</integer>
		<real>100396</real>
		<dict>
			<key>potential</key>
			<dict>
				<key>vocalLevel</key>
				<integer>10</integer>
				<key>danceLevel</key>
				<integer>5</integer>
				<key>visualLevel</key>
				<integer>10</integer>
			</dict>
			<key>id</key>
			<integer>100448</integer>
		</dict>
	</array>
	<key>Cool</key>
	<array>
		<real>200436</real>
		<real>200254</real>
		<real>200378</real>
		<integer>200360</integer>
		<real>200294</real>
		<dict>
			<key>potential</key>
			<dict>
				<key>vocalLevel</key>
				<integer>10</integer>
				<key>danceLevel</key>
				<integer>10</integer>
				<key>visualLevel</key>
				<integer>5</integer>
			</dict>
			<key>id</key>
			<real>200400</real>
		</dict>
	</array>
	<key>Passion</key>
	<array>
		<real>300434</real>
		<real>300236</real>
		<integer>300448</integer>
		<real>300412</real>
		<real>300378</real>
		<integer>300434</integer>
	</array>
</dict>
</plist>
