<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Cute</key>
	<array>
		<real>100448</real>
		<integer>100412</integer>
		<real>100256</real>
		<integer>100398</integer>
		<real>100396</real>
		<real>100448</real>
	</array>
	<key>Cool</key>
	<array>
		<real>200436</real>
		<real>200254</real>
		<real>200378</real>
		<integer>200360</integer>
		<real>200294</real>
		<real>200400</real>
	</array>
	<key>Passion</key>
	<array>
		<real>300434</real>
		<real>300236</real>
		<integer>300448</integer>
		<real>300412</real>
		<real>300378</real>
		<integer>300434</integer>
	</array>
</dict>
</plist>
