<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cName</key>
		<string>BirthdayNotificationViewController</string>
		<key>iconId</key>
		<string>200247</string>
		<key>title</key>
		<string>Birthdays</string>
	</dict>
	<dict>
		<key>cName</key>
		<string>CharaTableViewController</string>
		<key>iconId</key>
		<string>300151</string>
		<key>title</key>
		<string>Idol Information</string>
	</dict>
	<dict>
		<key>cName</key>
		<string>SongViewController</string>
		<key>iconId</key>
		<string>200294</string>
		<key>title</key>
		<string>Music Information</string>
	</dict>
	<dict>
		<key>cName</key>
		<string>GachaViewController</string>
		<key>iconId</key>
		<string>100282</string>
		<key>title</key>
		<string>Gacha Simulator</string>
	</dict>
	<dict>
		<key>cName</key>
		<string>EventViewController</string>
		<key>iconId</key>
		<string>200206</string>
		<key>title</key>
		<string>Event Information</string>
	</dict>
	<dict>
		<key>cName</key>
		<string>ColleagueViewController</string>
		<key>iconId</key>
		<string>300310</string>
		<key>title</key>
		<string>Colleague Finder</string>
	</dict>
	<dict>
		<key>cName</key>
		<string>VLTableViewController</string>
		<key>title</key>
		<string>Data Version Log</string>
	</dict>
</array>
</plist>
