<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>site</key>
		<string>https://github.com/ccgus/fmdb</string>
		<key>name</key>
		<string>FMDB</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/yannickl/DynamicColor</string>
		<key>name</key>
		<string>DynamicColor</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/lz4/lz4</string>
		<key>name</key>
		<string>lz4</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/BalestraPatrick/ValueStepper</string>
		<key>name</key>
		<string>ValueStepper</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/ashleymills/Reachability.swift</string>
		<key>name</key>
		<string>Reachability.swift</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/zekunyan/TTGTagCollectionView</string>
		<key>name</key>
		<string>TTGTagCollectionView</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/superk589/ZKCornerRadiusView</string>
		<key>name</key>
		<string>ZKCornerRadiusView</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/superk589/ZKDrawerController</string>
		<key>name</key>
		<string>ZKDrawerController</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/superk589/ZKPageViewController</string>
		<key>name</key>
		<string>ZKPageViewController</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/danielgindi/Charts</string>
		<key>name</key>
		<string>Charts</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/rs/SDWebImage</string>
		<key>name</key>
		<string>SDWebImage</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/SwiftyJSON/SwiftyJSON</string>
		<key>name</key>
		<string>SwiftyJSON</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/SnapKit/SnapKit</string>
		<key>name</key>
		<string>SnapKit</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/teodorpatras/EasyTipView</string>
		<key>name</key>
		<string>EasyTipView</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/MailOnline/ImageViewer</string>
		<key>name</key>
		<string>ImageViewer</string>
	</dict>
	<dict>
		<key>site</key>
		<string>https://github.com/CoderMJLee/MJRefresh</string>
		<key>name</key>
		<string>MJRefresh</string>
	</dict>
</array>
</plist>
